body {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

path { transition: fill .4s ease; }
#logo2:hover path {fill: white;}
#logo2:hover ellipse {fill: white;}
 
}
@media screen and (min-width: 640px) {
    main {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

svg.logo2
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
